node_modules
dist
__pycache__

# Visual Studio Code files
.vscode

# Clion
.idea

# # Unix Makefiles
# Makefile

# # Misc files
# # \#*\#
# # *~
# compile_commands.json
# lcov
# doxygen
# .DS_Store

#Build directories
build/

# Condenser things
.DS_Store
.coverage
*.log
yarn.lock
.idea/*
vendor/*
tmp/*
.vagrant
lib

# # m3 local files
# .chicken
# m3info.md