# Binary and library file types
*.a
*.dylib
*.so
*.pyc
*.pyo

# Xcode project files
*.xcodeproj/
*.build/
Debug/
Release/

# Visual Studio Code files
.vscode

# Clion
.idea
cmake-build-debug
cmake-build-release

# CMake files
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeScripts/
_builds

# Unix Makefiles
Makefile

# Misc files
\#*\#
*~
compile_commands.json
lcov
doxygen
.DS_Store

# Build directories
build/


# Condenser things
.DS_Store
.coverage
node_modules
*.log
yarn.lock
dist
.idea/*
vendor/*
tmp/*
.vagrant
lib


node_modules/.yarn-integrity

# m3 local files
.chicken
m3info.md